body {
    background-color:azure;
}

.unos{
    justify-content: center;
    width: 100%;
}

.ABC {
    font-size: 32px;
    letter-spacing: 10px;
    font-family: Courier; 
    padding: 0px;
    padding-left: 5px;
    height: 42px;
    text-align: right;
}

.ABCD{
    text-align: left;
    justify-self: center;
    padding-left: 15px !important;
    letter-spacing: 23px;
}

.gameABC{
    font-size: 32px;
    letter-spacing: 23px;
    font-family: Courier; 
    text-align: left;
    height: 40px;
    padding: 5px;
    padding-left: 7px;
}
.gameABC2{
    padding-left: 22px;
}

.startButtons{
    color: red;
    border:yellow;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.dugme{
    background-color: khaki;
    color: darkred;
    font-size: x-large;
    font-style: italic;
    font-weight: 900;
    justify-content: space-around;
    width: 100%;
}

.pomoc{
    justify-content: center;
}



.battleShipBoard {
    width: 470px !important;
    height: 42px;
    margin: 0px;
    justify-content: center;
    padding: 0px;
}
.battleShipField {
    float: left;
    width: 40px;
    height: 40px;
    background-color: lightblue;
    font-size:30px;
    text-align:right;
    display: table-cell;
    vertical-align:middle;
    margin: 1px;
    padding: 0px;
}

.table{
    justify-content: center;
    text-align: right;
    margin: 0px !important;
}

.pola{
    width: 33%;
}
.rezU{
    width: 33%;
}

.rezB{
    width: 8%;
}

#warning {
    text-align: center;
    color: red;
}

.info{
    font-weight: 600;
    font-size: 30px;
    align-self: center;
    text-align: right;
    height: 50px;
}